{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login - FleetFlow</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
</head>
<body class="login-body">

<div class="login-wrapper">
    <div class="card login-card">
        <h2>Login</h2>
        <p class="login-subtitle">
            Fleet & Logistics Management System
        </p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>

        <div class="forgot-password">
            <a href="#">Forgot password?</a>
        </div>
    </div>
</div>

</body>
</html>